li:hover{
    background-color: #ea7322;
}
li:active{
    background-color: #ea7322;
}
button{
    background-color: #ea7322;
}
.menuNav{
    overflow: hidden;
    background-color: #F7F1E1;
    position: fixed;
    top: 0;
    width: 100%;
}
.menuNav a {
    float: left;
    display: block;
    color: #000000;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
    font-size: 17px;
}
.menuNav a:hover {
    /*background: #ea7322;*/
    color: #ea7322;
}

.menuNav a.active {
    background-color: #4CAF50;
    color: white;
}
.logo{

}
